@media only screen and (max-width: 2000px) and (min-width: 1600px){
    .container-fluid{
        width: 80%;
    }
    .product-sebet{
        position: absolute;
        right: -247px;
    }
}
@media only screen and (max-width: 1680px) and (min-width: 1600px){
    .product-sebet {
        position: absolute;
        right: -172px;
    }
}
@media only screen and (max-width: 1488px) and (min-width: 1476px){
    .product-sebet {
        position: absolute;
        right: -234px;
    }
}
@media only screen and (max-width: 1475px) and (min-width: 1458px){
    .product-sebet {
        position: absolute;
        right: -234px;
    }
}
@media only screen and (max-width: 1457px) and (min-width: 1441px){
    .product-sebet {
        position: absolute;
        right: -225px;
    }
}
@media only screen and (max-width: 1440px) and (min-width: 1420px){
    .product-sebet {
        position: absolute;
        right: -218px;
    }
}
@media only screen and (max-width: 1419px) and (min-width: 1400px){
    .product-sebet {
        position: absolute;
        right: -210px;
    }
}
@media only screen and (max-width: 1399px) and (min-width: 1389px){
    .product-sebet {
        position: absolute;
        right: -205px;
    }
}
@media only screen and (max-width: 1388px) and (min-width: 1340px){
    .product-sebet {
        position: absolute;
        right: -200px;
    }
}
@media only screen and (max-width: 1366px) and (min-width: 1281px){
    .product-sebet {
        position: absolute;
        right: -189px;
    }
}
@media only screen and (max-width: 1280px) and (min-width: 1025px){
    .product-sebet {
        position: absolute;
        right: -163px;
    }
}
@media only screen and (max-width: 1024px) and (min-width: 990px){
    .product-sebet {
        position: absolute;
        right: -240px;
    }
}
@media only screen and (max-width: 989px) and (min-width: 800px){
    .product-sebet {
        position: absolute;
        right: -133px;
    }
}
@media only screen and (max-width: 768px) and (min-width:767px){
    .product-sebet {
        position: absolute;
        right: -163px;
    }
}
@media only screen and (max-width: 425px) and (min-width:400px){
    .product-sebet {
        transform: translate(-38px, 0px);
    }
}
@media only screen and (max-width: 375px) and (min-width:320px){
    .product-sebet {
        transform: translate(-86px, 0px);
    }
}


@media only screen and (max-width: 1022px) and (min-width: 270px){
   .mobile-menu{
       display: flex;
       justify-content: space-between;
       align-items: center;
   }
   .city-baku {
      font-size: 10px;
   }
   .menu-mobile-hover{
    max-width: 250px;
    background: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 40px;
    left: -15px;
    min-height: 100vh;
    overflow-y: auto;
    z-index: 1;
   }
   .menu-mobile-hover .nav{
    flex-direction: column;
   }
   .search-form{
       display: block!important;
   }
   .humburger-menu{
       display: block;
  }
  .mobile-text-n{
      display: none;
  }
  .mob-phone , .mobile-click-search{
     display: block;
  }
  .header-sushi {
    height: 40px;
  }
  #sea{
    display: none;
    position: absolute;
    top: 40px;
    right: 0;
    border: 1px solid #fe9522;

    
   }
   .global-search {
    width: 100%;
    padding: 4px 25px 4px 17px;
    border: 0;
    border-radius: 1px; 
    height: 33px;
   }
  .right-place a{
    margin-right: 0px!important;
    margin-left: 0px!important;
   }
   .dropdown {
    margin: 0!important;
   }
   .nav-section{
    display: none;
   }
   .shoping-product-num {
    right: 17px;
   }
   .most-roll{
    font-size: 30px;
   }
   .modal-body-product{
    background-color: #f6f6f6;
    width: 100%;  
    padding: 10px; 
   }
   .modal-body-img-p{
    width: 100%; 
   }
  .asas{
    display: block;
  }
}
@media only screen and (max-width: 425px) and (min-width: 270px){
   
   .most-roll{
      font-size: 20px;
   }
   .link-foot {
    padding: 0px 10px;
   }
   
   .indigo{
      padding: 20px 0;
   }
   .modal-sebet-img-div {
      width: 100%;
      height: 241px;
   }
   .mehsulun-sayi-modal {
      margin-top: 0px; 
   }
   .app-store {
      width: 50px;
   }
   .wraps-sandiv {
    font-family: 'Roboto Slab', serif;
    font-size: 22px;
    line-height: 41px;
  }
  .vakansiya{
      font-size: 14px;
  }
  
}
@media only screen and (max-width: 1170px) and (min-width:426px){
  .link-foot {
    padding: 10px 0px;
    font-size: 13px;
    line-height: 32px;
  }
}
@media only screen and (max-width: 1342px) and (min-width:1233px){
    .product-sebet {
        position: absolute;
        right: -186px;
    }
  }
  @media only screen and (max-width: 1321px) and (min-width:1311px){
    .product-sebet {
        position: absolute;
        right: -177px;
    }
  }
  @media only screen and (max-width: 1310px) and (min-width:1300px){
    .product-sebet {
        position: absolute;
        right: -170px;
    }
  }
  @media only screen and (max-width: 1298px) and (min-width:1285px){
    .product-sebet {
        position: absolute;
        right: -172px;
    }
  }
  @media only screen and (max-width: 1274px) and (min-width:1260px){
    .product-sebet {
        position: absolute;
        right: -160px!important;
    }
  }
  @media only screen and (max-width: 1260px) and (min-width:1240px){
    .product-sebet {
        position: absolute;
        right: -155px!important;
    }
  }
  @media only screen and (max-width: 1239px) and (min-width:1228px){
    .product-sebet {
        position: absolute;
        right: -154px!important;
    }
  }
  @media only screen and (max-width: 1227px) and (min-width:1202px){
    .product-sebet {
        position: absolute;
        right: -145px!important;
    }
  }
  @media only screen and (max-width: 1201px) and (min-width:1200px){
    .product-sebet {
        position: absolute;
        right: -140px!important;
    }
  }
  @media only screen and (max-width: 1332px) and (min-width:1322px){
    .product-sebet {
        position: absolute;
        right: -182px;
    }
  }
  @media only screen and (max-width: 1285px) and (min-width:1200px){
    .product-sebet {
        position: absolute;
        right: -166px;
    }
  }
@media only screen and (max-width: 768px) and (min-width:200px){
    .item.list-group-item .thumbnail {
        margin-bottom: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .item.list-group-item .img-event {
        float: left;
        width: 100%;
    }
    .new-link{
        display: none;
    }
    .place-open-close-time{
        display: none;
    } 
    .cart_product_delete{
        height: 60px;
    }
    .place-logo {
        width: 197px;
        height: 82px;
    }
    .pull-right {
        display: none;
    }
    .sevdiyniz-terkb {
        font-size: 15px;
    }  
    .product-sebet{
        width: 120px;
        height: 25px;
    } 
    .card-body {
        padding: 0.25rem!important;
    } 
    .mobile-block{
        display: block;
    }
    .mobile-nome{
        display: none;
    }
    .slideshow-container {
        max-width: 100%;
        position: relative;
        margin: auto;
        height:160px;
    }
    .place-phone-user{
        display: none;
    }
    .time-three-section-col {
        justify-content: center;
    } 
    .dropdown{
       display: none;
    }
    .mob-language{
        display: flex!important;
    }
    .price-cost p{
        font-size: 15px;
    }
    .price-cost .manat-img {
        width: 16px;
        height: 19px;
        object-fit: contain;
    }
    .thumbnail .img-event {
       width: 100%;
       height: 100px;
    }
    .card{
        min-height: 230px!important;
    }
    .pruduct-pirce-button {
        top: 218px;
    }
    .list-group-item-heading{
        font-size: 14px;
    }
    .list-group-item-text{
        font-size: 12px;
    }
    .item.list-group-item .caption {
        display: flex;
        flex-direction: row-reverse;
        width: 100%;
        margin: 0;
    }
    .item.list-group-item {
        margin-bottom: 19px;
    }
    .thumbnail {
        margin-bottom: 5px;
    }
    .item.list-group-item .caption .pruduct-pirce-button .price-cost p{
        font-size: 13px;
    }
    .title-sushi {
        font-size: 20px;
    }
    .bakida-sushi p{
        font-size: 14px;
    }
    .bakida-sushi {
        padding-bottom: 10px;
    }
    hr{
        display: none;
    }
    .sebet-img{
        margin: 0;
        width: 270px;
        height: 165px;
    }
    .cart_product_body{
        flex-direction: column;
        padding: 15px 15px 15px 15px;
    }
    .count_block , .cart_product_sum{
        margin-top: 10px;
    }
    .odeme-usullari-all{
        flex-direction: column;
    }
    .cemi-product-price{
        display: none;
    }
    .mobile-sebet-kalory{
        display: block;
        text-align: right;
        font-weight: 600;
    }
    .mobile-price-sebet{
        display: block;
        color: #fe9522;
        font-weight: 500;
        text-align: right;
    }
    
  }
   @media (min-width: 1200px){
      .modal-xl{
        max-width: 1014px;
      }
   }