@media only screen and (max-width: 3300px) and (min-width: 1600px){
    .container-fluid{
        width: 80%;
    }
}

@media only screen and (max-width: 1022px) and (min-width: 270px){
   .mobile-menu{
       display: flex;
       justify-content: space-between;
       align-items: center;
   }
   .city-baku {
      font-size: 10px;
   }
   .menu-mobile-hover{
    max-width: 250px;
    background: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 40px;
    left: -15px;
    min-height: 100vh;
    overflow-y: auto;
    z-index: 1;
   }
   .menu-mobile-hover .nav{
    flex-direction: column;
   }
   .search-form{
       display: block!important;
   }
   .humburger-menu{
       display: block;
  }
  .mobile-text-n{
      display: none;
  }
  .mob-phone , .mobile-click-search{
     display: block;
  }
  .header-sushi {
    height: 40px;
  }
  #sea{
    display: none;
    position: absolute;
    top: 40px;
    right: 0;
    border: 1px solid #fe9522;

    
   }
   .global-search {
    width: 100%;
    padding: 4px 25px 4px 17px;
    border: 0;
    border-radius: 1px; 
    height: 33px;
   }
  .right-place a{
    margin-right: 0px!important;
    margin-left: 0px!important;
   }
   .dropdown {
    margin: 0!important;
   }
   .nav-section{
    display: none;
   }
   .shoping-product-num {
    right: 17px;
   }
   .most-roll{
    font-size: 30px;
   }
   .modal-body-product{
    background-color: #f6f6f6;
    width: 100%;  
    padding: 10px; 
   }
   .modal-body-img-p{
    width: 100%; 
   }
  .asas{
    display: block;
  }
}
@media only screen and (max-width: 425px) and (min-width: 270px){
   
   .most-roll{
      font-size: 20px;
   }
   .link-foot {
    padding: 0px 10px;
   }
   .new-link{
       display: none;
   }
   .indigo{
      padding: 20px 0;
   }
   .modal-sebet-img-div {
      width: 100%;
      height: 241px;
   }
   .mehsulun-sayi-modal {
      margin-top: 0px; 
   }
   .app-store {
      width: 130px;
   }
   .wraps-sandiv {
    font-family: 'Roboto Slab', serif;
    font-size: 22px;
    line-height: 41px;
  }
  
}
@media only screen and (max-width: 1170px) and (min-width:426px){
  .link-foot {
    padding: 10px 0px;
    font-size: 13px;
    line-height: 32px;
  }
}

@media only screen and (max-width: 768px) and (min-width:200px){
    .item.list-group-item .thumbnail {
        margin-bottom: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .item.list-group-item .img-event {
        float: left;
        width: 100%;
    }
    .place-open-close-time{
        display: none;
    } 
    .cart_product_delete{
        height: 60px;
    }
    .pull-right {
        display: none;
    }
    .sevdiyniz-terkb {
        font-size: 15px;
    }   
    .card-body {
        padding: 0.25rem!important;
    } 
    .mobile-block{
        display: block;
    }
    .mobile-nome{
        display: none;
    }
    .slider-section{
        display: none;
    }
    .place-phone-user{
        display: none;
    }
    .time-three-section-col {
        justify-content: center;
    } 
    .dropdown{
       display: none;
    }
    .mob-language{
        display: flex!important;
    }
    .price-cost p{
        font-size: 15px;
    }
    .price-cost .manat-img {
        width: 16px;
        height: 19px;
        object-fit: contain;
    }
    .thumbnail .img-event {
       width: 100%;
       height: 100px;
    }
    .card{
        min-height: 200px!important;
    }
    .list-group-item-heading{
        font-size: 14px;
    }
    .list-group-item-text{
        font-size: 12px;
    }
    .item.list-group-item .caption {
        display: flex;
        flex-direction: row-reverse;
        width: 100%;
        margin: 0;
    }
    .item.list-group-item {
        margin-bottom: 19px;
    }
    .thumbnail {
        margin-bottom: 19px;
    }
    .item.list-group-item .caption .pruduct-pirce-button .price-cost p{
        font-size: 13px;
    }
    .title-sushi {
        font-size: 20px;
    }
    .bakida-sushi p{
        font-size: 14px;
    }
    .bakida-sushi {
        padding-bottom: 10px;
    }
    hr{
        display: none;
    }
    .sebet-img{
        margin: 0;
        width: 270px;
        height: 165px;
    }
    .cart_product_body{
        flex-direction: column;
        padding: 15px 15px 15px 15px;
    }
    .count_block , .cart_product_sum{
        margin-top: 10px;
    }
    .odeme-usullari-all{
        flex-direction: column;
    }
  }
   @media (min-width: 1200px){
      .modal-xl{
        max-width: 1014px;
      }
   }