
.header-sushi{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.right-place{
   display: flex;
   align-items: center;
}
header{
    background: black;
    color: white;
    height: 50px;
    padding-top: 6px;
}
.dropdown-menu{
    top: 5px!important;
}
.search-form{
   position: relative;
}
.search-button{
    position: absolute;
    right: 0;
    top: 2px;
    background-color: white;
    border: none;
    border-radius: 19px;
}
.global-search{
     width: 150px; 
     padding: 4px 25px 4px 17px;
     border: 0;
     border-radius: 20px;
     height: 28px;
}
.icon-img{
    width: 24px;
    height: 24px;
    object-fit: contain;
}
.sebet-iis{
    animation: waving-hand 0.45s linear infinite;
    animation-direction: alternate-reverse;
}
.city-baku , .search-form a{
    cursor: pointer; 
    font-size: 16px;
}
.icon-seach{
    width: 15px;
    height: 20px;
    object-fit: contain;
}
.nav-link {
    font-size: 15px;
    padding: .5rem 2rem;
    font-family: Arial,sans-serif;
}
.nav-link:hover , .bn:hover{
    text-decoration: underline!important;
}
.mobile-line-opne{
    border-bottom: 1px solid white;
    margin: 25px 0;
    margin-left: 30px;
    margin-right: 13px;
}
.mobile-text-n{
    font-family: 'Barlow', sans-serif!important;
    font-weight: 500;
}
.left-place{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.left-place .dropdown-menu{
    transform: translate3d(0px, 29px, 0px)!important;
    min-width: 7rem!important;
}
.mobile-menu , .menu-mobile-hover , #close-menu , .humburger-menu , .mob-phone , .mobile-click-search , #mob-close-search-button{
    display: none;
}


/* header */
.time-logo-section{  
    height: auto;
    width: 100%;
}
.time-three-section-col{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}
.all-day-icon img{
    width: 34px;
    height: 34px;
    animation: waving-hand 0.45s linear infinite;
    animation-direction: alternate-reverse;
}
.place-logo{
    width: 210px;
    height: 130px;
    
}
.place-logo img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.do-call{
    background-color: rgb(097,206,014)!important;
    color: #000 !important;
    width: 180px;
    display: inline-block;
    padding: 0 8px;
    border: none;
    border-radius: 5px!important;
    font-size: 16px;
    line-height: 36px;
}
.all-time , .phone-number-header , .all-day{
   font-size: 20px;
}
.all-time , .all-day{
    color: rgb(244, 129, 031);
 }
 .phone-number-header{
     color: black;
 }
.do-call:hover{
    text-decoration: none;
    color: white!important;
}
/* menu */
.time-10-18{
    font-size: 20px!important;
}

.five-category-menu > ul > li a {
    display: flex;
    padding: 15px 20px;
    font-size: 17px;
    font-weight: 500;
    text-transform: uppercase;
    color:  black;
    text-decoration: none;
}
.five-category-menu > ul > li {
    position: relative;
    display: flex;
    align-items: center;
}
.five-category-menu > ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin: 0 auto;
}
.nav-section{
    background-color: rgba(255, 255, 255, 0.85);
    z-index: 15;
    
    border-bottom: 1px solid #ddd;
}

.mySlides {display: none;}
img {vertical-align: middle;}

.slideshow-container {
  max-width:100%;
  position: relative;
  margin: auto;
  height: 207px;
}
.mySlides , .mySlides img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.dot {
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active {
  background-color:rgb(097,206,014) !important;
}

.fadee {
  -webkit-animation-name: fadea;
  -webkit-animation-duration: 2s;
  animation-name: fadea;
  animation-duration: 2s;
}

@-webkit-keyframes fadea{
  from {opacity: 1} 
  to {opacity: 0.6}
}

@keyframes fadea{
  from {opacity: 1} 
  to {opacity: 0.6}
}

.view-group {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    padding-left: 0;
    margin-bottom: 0;
}
.thumbnail{
    margin-bottom: 30px;
    padding: 0px;
    padding: 10x;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 5px!important;
    position: relative;
}
.item.list-group-item{
    float: none;
    width: 100%;
    background-color: #fff;
    margin-bottom: 30px;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0 1rem;
    border: 0;
}
.item.list-group-item .img-event {
    float: left;
    width: 40%;
    cursor: pointer;
}

#sea{
    margin-right: 18px!important;
}
.item.list-group-item .thumbnail{
    margin-bottom: 0px;
    display: flex;
    align-items: center;
}
.item.list-group-item .caption{
    display: flex;
    width: 60%;
    margin: 0;
}
.pruduct-pirce-button{
    display: flex;
    justify-content: space-between;
    padding: 8px 8px;

}
.five-part-line{
    color: grey!important;
}
.card-body{
    padding: 0.40rem!important;
}

.item.list-group-item .caption .pruduct-pirce-button{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 23%;
    position: relative;
    top: 0;
    z-index: 1;
} 
.item.list-group-item .caption .pruduct-pirce-button .price-c-button{
    position: relative;
    right: 0;
    z-index: 1;
}
.item.list-group-item .caption .pruduct-pirce-button .price-c-button button{
    position: relative; 
    right: 0;
   
}
.price-c-button button {
    font-family: 'Barlow', sans-serif!important;
    font-size: 18px;
}
.item.list-group-item:before, .item.list-group-item:after{
    display: table;
    content: " ";
}
/* .product-sebet{
    position: absolute;
    right: -240px;
} */
.item.list-group-item:after{
    clear: both;
}
#products .item .card{
    position: relative;
    
}
.thumbnail .img-event{
    width: 100%;
    min-height: auto;
    border:1px solid rgb(244, 129, 031);
}
.thumbnail  .img-event img{
    transform: scale(0.85);
    transition: 0.5s;
    max-width: 100%;
    
    text-align: center;
    object-fit: contain;
    cursor: pointer;
}
#products .item .card:hover img {
    transform: scale(1);
}
.manat-img{
    width: 24px!important;
    height: 24px!important;
    object-fit: contain;
}
.price-cost{
    display: flex;
}
.cost-sale{
    text-decoration: line-through;
    color: grey;
}
.lead{
    font-weight: 500;
}
.color-orange{
    color: rgb(244, 129, 031);
}
.cps{
    display: none;
}
.sebet-p-line{
    display: inline-block;
    transform: translate(0px, -6px);
    height: 2px;
    width: 21px;
    background-color: gray;
}
.product-sebet{
    background-color: rgb(097,206,014) !important;
    border-radius: 0;
    font-weight: 500;
    width: 120px;
    height: 35px;
    border: none;
    border-radius: 5px ;
    color: #fff !important;
}


.price-cost p{
    font-size: 18px;
    margin-bottom: 0;
    line-height: 32px;
}
.active-list-grid:focus , .active-list-grid-white:focus{
   outline: none;
   box-shadow: none;
}
.active-list-grid{
    background-color: rgb(097,206,014);
    color:white;
    font-weight: 500; 
    
}
.active-list-grid-white{
    background-color: white;
    color: #7E8285;
}
.shoping-product-num{
    position: absolute;
    top: 27px;
    font-size: 11px;
    font-weight: 700;
    background-color: white;
    border-radius: 12px;
    color: black;
    padding: 0 2px;
}

.footer-links{
    display: flex;
    justify-content: space-around;
    
}
.link-foot{
   display: inline-block;
   display: inline-block;
    padding: 10px 10px;
    line-height: 32px;
    font-weight: 500;
    color: #959595;
   
}
.link-foot:hover{
    width: 100%;
    background-color: rgb(244, 129, 031);
    color: white;
    text-decoration: none;
}
.active-link{
    width: 100%;
    background-color: rgb(244, 129, 031);
    color: white;
}
.app-store{
    width: 40px;
    height: 40px;
    object-fit: contain;
}
.footer-mobob{
    display: none;
}
.app-store-al{
    text-align: center;
}
.vakansiya{
    color: rgb(097,206,014);
}
.vakansiya:hover{
    color:rgb(097,206,014);
}
.left-logo{
    margin: auto;
}
.bakida-sushi{
    padding-bottom: 40px;
    

}
.bakida-sushi h2,.bakida-sushi p{
    font-family: 'Barlow', sans-serif;
    font-weight: 400;
}
/* zeng teleb et */
label{
    color: rgb(244, 129, 031);
    margin-bottom: 0!important;
}
.form-control:focus {
    background-color: #fff;
    border-color: #97f44c!important;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgb(097,206,014);
}
#staticBackdropLabel{
   color: rgb(097,206,014);
}
.cursor-pointer{
    cursor: pointer;
}
/* giris */
.giris-div{
    background-color: #1a1a1a;
    width: 100%;
    height: auto;
    padding: 30px 10px;
    display: flex;
    justify-content: space-between;
}
.login-button{
    background-color: rgb(097,206,014);
    color: black;
}
.map-div{
   width: 100%;
   height: 500px;
}
.modal-sebet-img-div{
    width: 100%;
    height: 450px;
}
.modal-img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.star-modal{
    width: 24px;
    height: 24px;
}
.modal-body-product{
    width: 35%;  
    padding: 10px; 
}
.modal-header{
    border-bottom: none!important;
}
.modal-body-img-p{
    width: 65%; 
}
.asas{
    display: flex;
}
.ela{
    color:rgb(244, 129, 031);
}
.mehsulun-sayi-modal{
    display: flex;
    justify-content: space-between;
    margin-top: 155px;  
}
.modal-product-sayi-dicrise{
    display: flex;
    align-items: center; 
}
.modal-decrese , .modal-increse{
    font-size: 40px;
    line-height: 18px;
    padding: 8px 0;
    width: 36px;
    background-color: rgb(244, 129, 031) !important;
    color: #fff !important;
    
}
.modal-sayi{
    font-size: 20px;
    line-height: 18px;
    padding: 6px 0;
    width: 36px;
    text-align: center;
    border: none;
    margin: 0 4px;
    font-family: 'Barlow', sans-serif;
    
}
.mehsul-sayi-title{
    font-size: 20px;
    font-family: 'Barlow', sans-serif;
    font-weight: 400;
}
.modal-sebete-elave-et-div{
    width: 100%;
}
.sebete-elave-et-m{
    width: 100%;
    height: 100%;
    font-weight: 500;
    padding: 10px 10px;
    background-color: rgb(097,206,014) !important;
    color: #fff !important;
    font-family: 'Barlow', sans-serif;
}
.cost-sale , .ela{
    font-family: 'Barlow', sans-serif!important;
}

  .cart_product_body {
    background: #ebedec;
    padding: 15px 15px 15px 0;
    display: flex;
    width: 100%;
    position: relative;
    justify-content: space-between;
    align-items: center;
}
 .sebet-img {
    margin: -15px 15px -15px 0;
    width: 270px;
    height: 165px;
}
.cart_products .cart_product_props {
    text-align: center;
    width: 20%;
}
.cart_product_name {
    font-size: 20px;
    font-weight: 500;
}
.count_block_container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.count_block {
    display: flex;
}
.count_block .btn {
    border-radius: 0;
    font-size: 40px;
    line-height: 18px;
    padding: 8px 0;
    width: 36px;
}
.btn_orange {
    background-color: rgb(244, 129, 031)!important;
    color: #fff !important;
}
.count_block .product_count {
    padding: 0 15px;
    background: #fff;
    line-height: 36px;
    margin: 0 5px;
    min-width: 40px;
    text-align: center;
}
.btn_delete{
   font-size: 45px;
}
.fa-phone , .fa-shopping-basket{
    animation: waving-hand 0.45s linear infinite;
    animation-direction: alternate-reverse;
}
@keyframes waving-hand {
    from {
        transform: rotate(40deg);
    }
    to {
        transform: rotate(-10deg);
    }
}
.list-group-image{
    transform: scale(0.85)!important;
    transition: 0.5s!important;
}
.list-group-image:hover{
    transform: scale(0.97)!important;
}
.check-true-green{
    height: 55px;
    width: 55px;
    border-radius: 50%;
}
.list-group-item-heading{
    font-family: 'Barlow', sans-serif;
    font-weight: 600;
    margin-bottom: 4px;
    margin-top: 5px;
}
.list-group-item-text{
    margin-top: 5px;
}
.list-group-item-text , .small-pors {
    font-family: 'Barlow', sans-serif;
    font-weight: 500;
}
.call-do-that button , .all-day , .all-time , .phone-number-header , .global-search {
    font-family: 'Barlow', sans-serif;
    font-weight: 500!important;
}
.href-link span{
    font-family: 'Oswald', sans-serif!important;
}
.price-c-button{
    position: relative;
    
}
.cemi-product-price{
    border-bottom: 2px solid rgb(244, 129, 031);
    padding-bottom: 7px;
    font-weight: 500;
    line-height: 30px;
}
.link-foot , .footer-copyright , .vakansiya{
    font-family:  Arial, sans-serif;
    font-weight: 600;
}
.odeme-usullari-promo label ,.odeme-usullari-all label{
    color: black!important;
    font-weight: 500;
}

.odeme-usullari-all input{
    color:rgb(244, 129, 031)!important;
}
.odeme-usullari-all{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.kart-img{
    object-fit: contain;
    width: 106px;
    height: 49px;
}
.odeme-first{
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px 50px;
    border-radius: 6px;
    border: 2px solid #ebedec;
}
input[type='radio']:after {
    width: 20px;
    height: 20px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #d1d3d1;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}
input[type='radio']:checked:after {
    width: 20px;
    height:20px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: rgb(244, 129, 031);
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}
.promo-butn{
    background-color:rgb(097,206,014)!important;
    color: white;
}
.saaat-sifasis label input{
    width: 80px;
}
.text-black{
    color:rgb(244, 129, 031)!important;
}
.wave{
    background: linear-gradient(to right, rgb(097,206,014), rgb(097,206,014));
    height: 50px;
    position: relative;
  }
  .wave::after{
    content: "";
    position: absolute;
    left: 0;
    top: -10px;
    right: 0;
    background-repeat: repeat;
    height: 10px;
    background-size: 20px 20px;
    background-image: radial-gradient(circle at 10px -5px, transparent 12px,rgb(097,206,014) 13px);
  }
  .indigo{
    position: relative;
    background-color: black;
    height: auto;
    background: #000000;
    color: #fff;
    padding: 50px 0;
  }
  .indigo:after{
    content: "";
    position: absolute;
    left: 0;
    top: -10px;
    right: 0;
    background-repeat: repeat;
    height: 10px;
    background-size: 20px 20px;
    background-image: radial-gradient(circle at 10px -5px, transparent 12px, black 13px); 
  }
  .most-roll{
    font-family: 'Barlow', sans-serif;
    font-weight: 600;
  }
  .active-list-grid , .active-list-grid-white{
    font-family: 'Barlow', sans-serif!important;
  }
  .sevdiyniz-terkb{
      font-size: 30px;
      font-weight: 300;
      font-family: 'Barlow', sans-serif;
  }
  .wraps-sandiv{
    font-family: 'Ranchers', cursive;
      font-size: 26px;
      line-height: 45px;
  }
  sub ,sup , .suv{
      color: white!important;
      background-color: rgb(244, 129, 031);
      border-radius: 5px;
  }
  .d-inline:hover{
     text-decoration: none!important;
  }
  .mobile-block{
      display: none;
  }
  .href-link span{
    position: relative; 
    background-color: white;
    padding: 0 10px;
  
  }
  .href-link span:before, .href-link span:after
  {
    z-index: -1;
    position: absolute;
    content: "";
    bottom: -1px;
    left: 0px;
    width: 50%;
    top: 80%;
    background: black;
    -webkit-box-shadow: 0 15px 10px rgb(104, 92, 92);
    -moz-box-shadow: 0 5px 5px #777;
    box-shadow: 0 5px 10px #777!important;
    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    -o-transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    transform: rotate(-3deg);
  }
  .href-link span:after
  {
    -webkit-transform: rotate(3deg);
    -moz-transform: rotate(3deg);
    -o-transform: rotate(3deg);
    -ms-transform: rotate(3deg);
    transform: rotate(3deg);
    right: 0px;
    left: auto;
  }
  .small-pors{
      color: rgb(244, 129, 031);
      margin-bottom: 8px;
      margin-top: 8px;
  }
  .card{
      border-radius: 6px!important;
  }
  .swal-button{
      background-color: rgb(097,206,014)!important;
  }
.sebte{
    width: 20px;
    height: 15px;
}
  .mobile-card{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 5px;    
    width: 100%;
    background-color: white;
    margin-bottom: 19px;
  }
  .mobile-card:before, .mobile-card:after
{
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 12px;
  left: 1px;
  width: 50%;
  top: 80%;
  background: #777;
  -webkit-box-shadow: 0 15px 10px #777;
  -moz-box-shadow: 0 15px 10px #777;
  box-shadow: 0 15px 10px #777;
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-5deg);
}
.mobile-card:after
{
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(5deg);
  right: 2px;
  left: auto;
}
  .card-mobile-img {
    width: 45%;
    height: 200px;
    object-fit: contain;
  }
  .card-mobile-name{
    color: rgb(097,206,014); 
    text-transform: uppercase;
    font-size: 25px;
    font-weight:bolder;
    font-family: 'Comfortaa', cursive;
    
  }
  .mobile-price-sebet {
    color: rgb(244, 129, 031);
    font-weight: 500;
    font-size: 20px;
  }
  .mobile-sebet-kalory{
    font-weight: 400;
    font-size: 18px;
}
.sebet-title , .xardal-elave, .cart_product_name , .odeme-usel , .parol-title {
    font-family: 'Mulish', sans-serif;
    font-weight: 700;
}
.modal-product-about{
    font-weight:500;
    font-family: 'Barlow', sans-serif;
    margin-top: 10px;
}
.modal-product-name{
    font-family: 'Barlow', sans-serif;
}